.v-application a {
    color: #00897b !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #00897b !important;
}

.v-parallax__image {
    filter: brightness(0.7);
}