/*
* This is the single file output by sass. It is intended to only @import other files.
*/
$sidebar-width: 600px;
/*
* 1 - HELPERS
*/
@import '1-helpers/variables';
// @import '1-helpers/mixins';
// @import '1-helpers/flexbox-mixin';
// @import '1-helpers/modifiers';

/*
* 4 - LAYOUT
*/
// @import "4-layout/page";
// @import '4-layout/default';
// @import "4-layout/homepage";

/*
* 5 - MODULES
*/

/*
* 6 - COMPONENTS
*/
// @import "6-components/headerPrismic";
// @import "6-components/aboutText";
// @import "6-components/footerPrismic";
@import '6-components/default';
@import '6-components/adminInbox';
@import '6-components/header';
@import '6-components/manageServices';
@import '6-components/services';
@import '6-components/cart';
@import '6-components/store';
@import '6-components/storeFront';
@import '6-components/sideBar';
@import '6-components/sideBarAd';
@import '6-components/storeCategories';
@import '6-components/storeMessages';
@import '6-components/appointment';
@import '6-components/signin';
@import '6-components/signup';
