.inbox {
    &__card-container {
        display: flex;
    }
    // LEFT
    &__left {
        width: 70px;
        margin: 0 10px 0 0;
        height: 85vh;
        height: 85vh;
        @media (min-width: $small-desktop) {
           width: 40%
        }
    }
    &__left-card {
        position: fixed !important;
        z-index: 1 !important;
    }
    &__left-messages {
        // margin: 230px 0 0 0;
        @media (min-width: $small-desktop) {
           margin: 230px 0 0 0; 
        }
    }
    &__left-card-header {
        display: none !important;
        @media (min-width: $small-desktop) {
           display: block !important;
        }
    }
    &__left-content {
        display: none !important;
        @media (min-width: $small-desktop) {
            display: block !important;
        }
    }
    // LEFT END

    // RIGHT
    &__right {
        width: 100%;
    }
    &__right-avatar {
        display: none !important;
        @media (min-width: $small-desktop) {
           display: block !important;
        }
    }
    &__right-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__right-card-middle {
        overflow: auto;
        max-height: calc(85vh - 50vh);
    }
    // RIGHT END
}