.appointment {
    display: flex;
    flex-direction: column;
    @media (min-width: $small-desktop) {
       flex-direction: row;
    }
    // LEFT
    &__left {
        width: 100%;
        padding: 0 50px 0 0;
        @media (min-width: $large-desktop) {
            width: 30%;
        }
    }
    &__left-card {
        height: 200px;
    }
    &__working-hours {
        display: flex;
        justify-content: space-between;
    }
    // LEFT END

    // RIGHT
    &__right {
        width: 100%;
        margin: 0 0 100px 0;
        @media (min-width: $large-desktop) {
            width: 70%;
        }
        
    }
    &__calendar {
        margin: 0 0 50px 0;
    }
    &__order-card {
        padding: 0 15px 15px 15px;
    }
    // RIGHT END
}