.appointment {
    display: flex;
    flex-direction: column;
    @media (min-width: $small-desktop) {
       flex-direction: row;
    }
    // LEFT
    &__left {
        width: 30%;
        padding: 0 50px 0 0;
    }
    &__working-hours {
        display: flex;
        justify-content: space-between;
    }
    // LEFT END
    &__right {
        width: 70%;
        margin: 0 0 100px 0;
    }
    &__calendar {
        margin: 0 0 50px 0;
    }
}