/* Totals section */
.cart {
    // height: calc(100vh - 36px);
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    &__total-container {
        // background: darkcyan;
        width: 100%;
    }
    &__image {
        height: 30px !important;
        max-width: 50px !important;
        @media (min-width: $tablet) {
            height: 100px !important;
            max-width: 150px !important;
        }
    }
    // &__totals {
    //     display: flex;
    //     justify-content: space-between;
    //     // width: 400px;
    //     margin: 0 0 0 auto;
    //     // background: coral;
    // }
    &__totals-label {
        margin: 0 0 10px 0;
        text-align: right;
    }
    &__totals-grand-label {
        text-align: right;
    }
    &__totals-value {
        margin: 0 0 10px 0;
        text-align: right;
    }
    &__checkout-btn {
        display: flex;
        justify-content: flex-end;
    }
}
/* Totals section */
