.dashboard {
    margin: 0 0 200px 0;
    padding: 10px;
    @media (min-width: $tablet) {
        padding: 10px;
    }
    &__bg {
        background-color: #f5f5f5;
        // border-radius: 4px;
    }
    &__columns {
        display: flex;
        flex-direction: column;
        @media (min-width: $tablet) {
            flex-direction: row;
        }
    }
    &__col-one {
        width: 100%;
        padding: 10px;
        @media (min-width: $tablet) {
            width: 30%;
        }
    }
    &__col-two {
        width: 100%;
        @media (min-width: $tablet) {
            width: 70%;
            padding: 10px;
        }
    }
}
