/*
** DASHBOARD
*/
.thumb-lg {
    height: 88px;
    width: 88px;
    object-fit: cover;
    @media (min-width: $large-desktop) {
        height: 180px;
        width: 180px;
    }
}
.profile-user-box {
    position: relative;
    border-radius: 5px;
}
.bg-custom {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    position: relative;
}
.bg-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.profile-user-box {
    position: relative;
    border-radius: 5px;
}

.card-box {
    padding: 20px;
    border-radius: 3px;
    background-color: #fff;
}
.inbox-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.inbox-item__left {
    display: flex;
}
.inbox-item__right {
    width: 20%;
}

.inbox-widget .inbox-item img {
    width: 40px;
}

.inbox-widget .inbox-item {
    border-bottom: 1px solid #f3f6f8;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
}

.inbox-widget .inbox-item .inbox-item-img {
    display: block;
    float: left;
    margin-right: 15px;
    width: 40px;
}

.inbox-widget .inbox-item img {
    width: 40px;
}

.inbox-widget .inbox-item .inbox-item-author {
    color: #313a46;
    display: block;
    margin: 0;
}

.inbox-widget .inbox-item .inbox-item-text {
    color: #98a6ad;
    display: block;
    font-size: 14px;
    margin: 0;
}

.inbox-widget .inbox-item .inbox-item-date {
    color: #98a6ad;
    font-size: 11px;
    position: absolute;
    right: 7px;
    top: 12px;
}

.comment-list .comment-box-item {
    position: relative;
}

.comment-list .comment-box-item .commnet-item-date {
    color: #98a6ad;
    font-size: 11px;
    position: absolute;
    right: 7px;
    top: 2px;
}

.comment-list .comment-box-item .commnet-item-msg {
    color: #313a46;
    display: block;
    margin: 10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.comment-list .comment-box-item .commnet-item-user {
    color: #98a6ad;
    display: block;
    font-size: 14px;
    margin: 0;
}

.comment-list a + a {
    margin-top: 15px;
    display: block;
}

.ribbon-box .ribbon-primary {
    background: #00897b;
}

.ribbon-box .ribbon {
    position: relative;
    float: left;
    clear: both;
    padding: 5px 12px 5px 12px;
    margin-left: 0px;
    margin-bottom: 15px;
    font-family: Rubik, sans-serif;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    color: #fff;
    font-size: 13px;
}
.text-custom {
    color: #a0bfff !important;
}

.badge-custom {
    background: #a0bfff;
    color: #fff;
}
.badge {
    font-family: Rubik, sans-serif;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    padding: 0.35em 0.5em;
    font-weight: 500;
}
.text-muted {
    color: #98a6ad !important;
}

.font-13 {
    font-size: 13px !important;
}
/*
** ORDERS
*/
.card {
    border: none;
    margin-bottom: 24px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.avatar-xs {
    height: 2.3rem;
    width: 2.3rem;
}
/*
** REMINDERS
*/
.widget {
    background: #fff;
    margin-bottom: 0.75rem;
    display: block;
    position: relative;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
.widget .widget-header,
.widget-reminder-content,
.widget-reminder-time,
a.widget-header-title {
    padding: 0.625rem;
}
.widget-chat-message:after,
.widget-chat-message:before,
.widget-reminder-container:after,
.widget-reminder-container:before {
    display: table;
    content: '';
    clear: both;
}
.widget-footer.with-border,
.widget-reminder-container + .widget-reminder-container {
    border-top: 1px solid #efeff4;
}
.widget-footer.with-bg,
.widget-header.with-bg {
    background: #efeff4;
}
.widget-header.with-border {
    border-bottom: 1px solid #efeff4;
}
.widget-reminder-header {
    background: #efeff4;
    padding: 0.625rem;
    font-size: 0.625rem;
    font-weight: 700;
    color: #8a8a8f;
}
.widget-reminder-container {
    position: relative;
}
.inverse-mode .widget-reminder-container + .widget-reminder-container {
    border-color: #333;
}
.inverse-mode .widget-reminder-header {
    background: #212121;
}
.widget-reminder-time {
    width: 5rem;
    float: left;
    text-align: right;
    font-size: 0.625rem;
}
.widget-reminder-divider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5rem;
    width: 0.125rem;
    background: #efeff4;
}
.widget-reminder-content {
    margin-left: 5.125rem;
}
.widget-header-title {
    margin: 0;
    font-size: 0.75rem;
    font-weight: 500;
}
.widget .widget-title,
.widget .widget-title a {
    font-size: 0.75rem;
    color: #000;
    line-height: 1rem;
}
.widget .widget-title {
    font-weight: 600;
    margin: 0;
}
.widget-desc,
.widget-desc a {
    font-size: 0.6875rem;
    line-height: 1rem;
    color: #8a8a8f;
    font-weight: 500;
}
.img-circle {
    border-radius: 50%;
}

.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.m-t-15 {
    margin-top: 15px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.widget .widget-header,
.widget-reminder-content,
.widget-reminder-time,
a.widget-header-title {
    padding: 0.625rem;
}
