.signin {
    display: flex;
    height: calc(100vh - 56px);
    &__left {
        display: none;
        @media (min-width: $small-desktop) {
            display: block;
            width: 35%;
            background-color: white;
        }
    }
    &__right {
        background-color: #1b1b3a;
        // background-color: #7957d5;
        // background-color: #ff9891;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        @media (min-width: $small-desktop) {
            // width: 55%;
        }
    }
    &__right-card {
        width: 90%;
        @media (min-width: $small-desktop) {
            width: 400px !important;
        }
    }
}
