.store-front {
    &__container {
        display: flex;
    }
    /*
    ** LEFT
    */
    &__left {
        // height: 100vh;
        width: 65%;
        margin: 0 50px 0 0;
    }
    &__left-banner {
        margin: 0 0 30px 0;
    }
    &__left-service-img {
        background-color: #ccc;
        background-position: center;
        background-size: cover;
        width: 50%;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
    }
    // LEFT END

    /*
    ** RIGHT
    */
    &__right {
        // height: 100vh;
        background-color: #ccc;
        width: 35%;
        border-radius: 24px;
    }
    // RIGHT END
}