.store {
    &__layout {
        display: flex;
        flex-direction: column;
        margin: 50px 0 0 0;

        @media (min-width: $small-desktop) {
            flex-direction: row;
        }
    }
    &__left {
        width: 100%;
        margin: 0 50px 0 0;
        @media (min-width: $small-desktop) {
            width: 20%;
        }
    }
    &__right {
        width: 100%;
        @media (min-width: $small-desktop) {
            width: 80%;
        }
    }
}

.store-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    @media (min-width: $large-desktop) {
        grid-template-columns: 1fr 1fr;
    }

}
.store-landing {
    border-radius: 30px;
}