//Based on http://css3-buttons.heroku.com which only had SASS version of the mixin.

/*
* BUTTON - MIXINS
*/
@mixin rounded($border) {
  -webkit-border-radius: $border;
  -moz-border-radius: $border;
  border-radius: $border;
}

@mixin shadow {
  -webkit-box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  -moz-box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

@mixin gradient($top, $bottom) {
  background-color: $bottom;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from($top),
    to($bottom)
  );
  background: -moz-linear-gradient(top, $top, $bottom);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$top}', endColorstr='#{$bottom}');
}

@mixin color($background) {
  border: solid 1px darken($background, 3%);
  @include gradient(lighten($background, 13%), $background);
  color: mix($mine-shaft, $background, 100%);
  &:hover {
    @include gradient(lighten($background, 10%), darken($background, 5%));
  }
  &:active {
    @include gradient($background, lighten($background, 10%));
    color: mix($mine-shaft, $background, 70%);
  }
}

/*
* BUTTON
*/

@mixin button {
  display: inline-block;
  padding: 14px 0;
  //   font-size: 16px;
  //   letter-spacing: 2px;
  @include custom-text($color: $mine-shaft, $size: 20px);
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: none;
  @include rounded(0);
  &:hover {
    text-decoration: none;
  }

}
@mixin button-shadow {
  display: inline-block;
  padding: 14px 0;
  font-size: 16px;
  letter-spacing: 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: none;
  @include rounded(0);
  //this determines Mozilla to show the padding
  @include shadow;
  &:hover {
    text-decoration: none;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

// Mozilla: don't show border around the button's text on click button
button::-moz-focus-inner {
  border: none;
}
