/*
*   Font mixins
*/
@mixin h1($color: $primary-font-color, $family: $bold-font, $size: $font-h1) {
  color: $color;
  font-family: $family;
  font-size: $size;
  @media (min-width: $mobile) {
  }
  @media (min-width: $tablet) {
  }
  @media (min-width: $small-desktop) {
  }
  @media (min-width: $large-desktop) {
  }
}
@mixin h2($color: $primary-font-color, $family: $bold-font, $size: $font-h2) {
  color: $color;
  font-family: $family;
  font-size: $size;
  @media (min-width: $mobile) {
  }
  @media (min-width: $tablet) {
  }
  @media (min-width: $small-desktop) {
  }
  @media (min-width: $large-desktop) {
  }
}
@mixin h3($color: $primary-font-color, $family: $bold-font, $size: $font-h3) {
  color: $color;
  font-family: $family;
  font-size: $size;
  @media (min-width: $mobile) {
  }
  @media (min-width: $tablet) {
  }
  @media (min-width: $small-desktop) {
  }
  @media (min-width: $large-desktop) {
  }
}
@mixin h4($color: $primary-font-color, $family: $bold-font, $size: $font-h4) {
  color: $color;
  font-family: $family;
  font-size: $size;
  @media (min-width: $mobile) {
  }
  @media (min-width: $tablet) {
  }
  @media (min-width: $small-desktop) {
  }
  @media (min-width: $large-desktop) {
  }
}
@mixin h5($color: $primary-font-color, $family: $bold-font, $size: $font-h5) {
  color: $color;
  font-family: $family;
  font-size: $size;
  @media (min-width: $mobile) {
  }
  @media (min-width: $tablet) {
  }
  @media (min-width: $small-desktop) {
  }
  @media (min-width: $large-desktop) {
  }
}
@mixin h6($color: $primary-font-color, $family: $bold-font, $size: $font-h6) {
  color: $color;
  font-family: $family;
  font-size: $size;
  @media (min-width: $mobile) {
  }
  @media (min-width: $tablet) {
  }
  @media (min-width: $small-desktop) {
  }
  @media (min-width: $large-desktop) {
  }
}
@mixin caption($color: $silver, $family: $Light-font) {
  color: $color;
  font-family: $family;
  font-size: 14px;
  line-height: 1.5;
  @media (min-width: $mobile) {
  }
  @media (min-width: $tablet) {
  }
  @media (min-width: $small-desktop) {
  }
  @media (min-width: $large-desktop) {
  }
}
@mixin para($color: $primary-font-color, $family: $Light-font) {
  color: $color;
  font-family: $family;
  font-size: 16px;
  line-height: 1.5;
  @media (min-width: $mobile) {
  }
  @media (min-width: $tablet) {
  }
  @media (min-width: $small-desktop) {
  }
  @media (min-width: $large-desktop) {
  }
}
@mixin link($color: $primary-font-color, $family: $bold-font) {
  color: $color;
  font-family: $family;
  font-size: 14px;
  @media (min-width: $mobile) {
  }
  @media (min-width: $tablet) {
  }
  @media (min-width: $small-desktop) {
  }
  @media (min-width: $large-desktop) {
  }
}
@mixin text($color: $primary-font-color, $family: $Light-font) {
  color: $color;
  font-family: $family;
  font-size: 16px;
  @media (min-width: $mobile) {
  }
  @media (min-width: $tablet) {
  }
  @media (min-width: $small-desktop) {
  }
  @media (min-width: $large-desktop) {
  }
}
@mixin custom-text(
  $color: $primary-font-color,
  $family: $Light-font,
  $size: 16px
) {
  color: $color;
  font-family: $family;
  font-size: $size;
  @media (min-width: $mobile) {
  }
  @media (min-width: $tablet) {
  }
  @media (min-width: $small-desktop) {
  }
  @media (min-width: $large-desktop) {
  }
}
@mixin custom-text-two(
  $color: $tertiary-font-color,
  $family: $Light-font,
  $size: 16px
) {
  color: $color;
  font-family: $family;
  font-size: $size;
  @media (min-width: $mobile) {
  }
  @media (min-width: $tablet) {
  }
  @media (min-width: $small-desktop) {
  }
  @media (min-width: $large-desktop) {
  }
}

/*
* Shared styling
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p:empty {
  display: none;
}
p {
  @include para();
  margin: 0;
}
.h1 {
  @include h1();
}
.h2 {
  @include h2();
}
.h3 {
  @include h3();
}
.h4 {
  @include h4();
}
.h5 {
  @include h5();
}
.h6 {
  @include h6();
}
